<ion-header [translucent]="true" mode="ios" class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      Favoritos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" mode="ios" class="ion-no-border">
    <ion-toolbar>
      <ion-title size="large">Favoritos</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-articles
    *ngIf="articles.length > 0"
    [articles]="articles"
  ></app-articles>

  <div id="nada" *ngIf="articles.length == 0">
    <ion-label color="dark">No hay favoritos.</ion-label>
  </div>
</ion-content>
